<% content_for :load_script do %>
    cb.decorateImageWidgets();
<% end %>

<%= render "shared/channels/header", f: f %>

<%= render "shared/channels/prefix_and_baseline", f: f %>

<% if advanced_mode? %>
    <div class="info">
    	<div>
    	    <%= f.check_box :allow_social_feed %> <span><%= t 'social_channels.form.allow_social_feed' %></span>
    	</div><br />
    	<%= t 'social_channels.form.privacy_warning' %>
    </div>
    <%= render("shared/channels/css_upload", f: f) %>
<% end %>

<%= render "shared/channels/cover_upload", f: f %>

<%= f.hidden_field :provider              %>
<%= f.hidden_field :provider_oauth_token  %>
<%= f.hidden_field :provider_oauth_secret %>

<%= f.submit %>
<%= link_to t('actions.cancel'), channels_path, class: 'butn' %>