<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= t('.title') %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= favicon_link_tag image_path(FAVICON_PATH) %>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <script type="text/javascript" src="//use.typekit.net/lvc6dih.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <%= yield :head %>
    </head>
    <body>
        <div id="page" class="page">
            <div id="main" class="main" role="main">
                <div id="flash" class="flash">
                    <% if notice.present? %><div class="notice"><%= notice %></div><% end %>
                    <% if alert.present? %><div class="alert"><%= alert %></div><% end %>
                </div>
                <%= yield %>
            </div>
        </div>
        <script>
            cb.decorateForms();
            <%= yield :load_script %>
        </script>
    </body>
</html>